<p id="notice"><%= notice %></p>

<h1>Categoryfiles</h1>

<table>
  <thead>
    <tr>
      <th>Categoryfilestring</th>
      <th>Categoryfileorder</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categoryfiles.each do |categoryfile| %>
      <tr>
        <td><%= categoryfile.categoryfilestring %></td>
        <td><%= categoryfile.categoryfileorder %></td>
        <td><%= link_to 'Show', categoryfile %></td>
        <td><%= link_to 'Edit', edit_categoryfile_path(categoryfile) %></td>
        <td><%= link_to 'Destroy', categoryfile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Categoryfile', new_categoryfile_path %>
