<p id="notice"><%= notice %></p>

<p>
  <strong>Categoryfilestring:</strong>
  <%= @categoryfile.categoryfilestring %>
</p>

<p>
  <strong>Categoryfileorder:</strong>
  <%= @categoryfile.categoryfileorder %>
</p>

<%= link_to 'Edit', edit_categoryfile_path(@categoryfile) %> |
<%= link_to 'Back', categoryfiles_path %>
