<p id="notice"><%= notice %></p>

<p>
  <strong>Categoryproject:</strong>
  <%= @osplatform.categoryproject %>
</p>

<p>
  <strong>Osdescribe:</strong>
  <%= @osplatform.osdescribe %>
</p>

<p>
  <strong>Osorder:</strong>
  <%= @osplatform.osorder %>
</p>

<%= link_to 'Edit', edit_osplatform_path(@osplatform) %> |
<%= link_to 'Back', osplatforms_path %>
