<p id="notice"><%= notice %></p>

<p>
  <strong>Categoryprojectstring:</strong>
  <%= @categoryproject.categoryprojectstring %>
</p>

<p>
  <strong>Categoryprojectorder:</strong>
  <%= @categoryproject.categoryprojectorder %>
</p>

<%= link_to 'Edit', edit_categoryproject_path(@categoryproject) %> |
<%= link_to 'Back', categoryprojects_path %>
