<!DOCTYPE html>
<html>
  <head>
    <title><%=help_get_banner2(request.env['PATH_INFO'])%></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body style="margin-top:70px">
    <div class="container-fluid" id="idnav" role="navigation">
      <% if user_signed_in? %>
        <%= render :partial => "layouts/navbar" %>
      <% else %>            
        <%= render :partial=> "layouts/navbar1" %>
      <% end %>
    </div>

    <div class="container-fluid">
      <div class="row">
        <% if user_signed_in? %>
          <div id="sidebarmysearches" class="col-sm-3 col-md-2 sidebar" >
            <%= render :partial=> "layouts/sidebar" %>
          </div>
          <div id="idyield" class="col-sm-9 col-md-10 main">
            <%= yield %>
          </div>
        <% else %>   
          <div id="idyield">
            <%= yield %>
          </div> 
        <% end %>
      </div>   
    </div>   
    <footer class="navbar navbar-fixed-bottom">
      <div class="container" style="text-align: center;">
        <%= render :partial => "layouts/footer" %>
      </div>
    </footer>
  </body>
</html>

